# This is Git's per-user configuration file.
[user]
	name = Aleksey Maksimov
	email = aleksey.maksimov@sc.com
	signingkey = 73B247E7C736117E
[alias]
    lol = "log --graph --decorate --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s  %C(white)- %an, %ar%Creset' --abbrev-commit"
    lola = "log --graph --decorate --pretty=oneline --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s  %C(white)- %an, %ar%Creset' --abbrev-commit --all"
[core]
	editor = nvim
	commentChar = ";"
	pager = less -FX
[pull]
   rebase = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    keepBackup = false
    trustExitCode = true
    # Set nvim as the editor
    cmd = nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
[push]
    followTags = true
    templatedir = ~/.git_template
[gpg]
   program = gpg
[url "https://gitlab.com/cznic/mathutil.git"]
    insteadOf = https://gitlab.com/cznic/mathutil
[url "https://gitlab.com/cznic/xc.git"]
    insteadOf = https://gitlab.com/cznic/xc
[url "https://gitlab.com/cznic/golex.git"]
    insteadOf = https://gitlab.com/cznic/golex
[url "https://gitlab.com/cznic/cc.git"]
    insteadOf = https://gitlab.com/cznic/cc
[url "https://gitlab.com/cznic/strutil.git"]
    insteadOf = https://gitlab.com/cznic/strutil
[url "https://github.com/googleapis/google-cloud-go.git"]
    insteadOf = https://cloud.google.com/go?go-get=1
