# This is Git's per-user configuration file.
[user]
	name = Aleksey Maksimov
	email = ctpeko3a@gmail.com
	signingkey = 73B247E7C736117E
[alias]
	lola = 'log --graph --decorate --pretty=oneline --abbrev-commit --all'
    lol = 'log --graph --decorate --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s  %C(white)- %an, %ar%Creset' --abbrev-commit'
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s  %C(white)- %an, %ar%Creset' --abbrev-commit --all
[core]
	editor = vim
[pull]
	rebase = true
[diff]
    tool = konsole
[merge]
[push]
	followTags = true
